#### Index mutable-immutable 
- value cannot chnage using the index operations called as immutable 
- strings are immutable

In [25]:
import random
import math 
import string
import time

In [1]:
l = [10,12,14]
l [0]=100
l

[100, 12, 14]

- we are reassigning the array with a different element or updating

#### Slice
- cut into pieces
- which means we cna extract some part of the string 
- for that we need to understand the start, stop and step
- syntax:
    - s[start:stop:step]

In [ ]:
# -12  -11   -10   -9   -8   -7   -6   -5   -4   -3   -2   -1
#  h    e     l     l    o         p    y    t    h    o    n
#  0    1     2     3    4    5    6    7    8    9    10   11

In [3]:
str1 = "hello python"
str1[1:10:3]

'eoy'

In [4]:
str2 = "hello python"
str2[2:10:-2]

''

- the above has a problem where the start and stop points are in positive and the step counter is -2 so there is no output

In [6]:
str3 = "hello python"
str3[2:-1:2]

'lopto'

- the above will work as the string from negative starts from -12 to -1 and from 0 to 11
- when you are giving the above then the string will work as we can visualize from 2 to -1 as we are going in the positive direction and will work

In [7]:
str1[:]
# this gives out the whole string

'hello python'

In [8]:
str1[2:]
# starts from the given starting till the end of the sting

'llo python'

In [10]:
str1[:12]
# start point is default i.e 0 and the end point is given

'hello python'

In [11]:
str1[::]
# this gives out the whole string

'hello python'

In [12]:
str1[::-1]
# this gives the reverse of the string

'nohtyp olleh'

In [14]:
str1[-2:12:2]
# string is starting from -2 so its the last but 1 in the string but there is no element in the 11 index ie stop-1 so it wont work

'o'

#### concatenation
- adding two strings together 
- we can give space in between by adding str1+" "+str2

In [16]:
str4="python"
str4+" "+"my name is mohith"

'python my name is mohith'

In [19]:
str1*str4
str1-str4
str1/str4

TypeError: unsupported operand type(s) for /: 'str' and 'str'

- the above will not work as strings are not numbers and it will not work 
- concatenation is the only addition possible as we are adding 2 strings together to from a new string which are all immutable

In [24]:
(str1+" ")*3

'hello python hello python hello python '

### String Methods
- you will need to treat string is a package 
- so apply dir on any sting

In [28]:
dir (string)

['Formatter',
 'Template',
 '_ChainMap',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_re',
 '_sentinel_dict',
 '_string',
 'ascii_letters',
 'ascii_lowercase',
 'ascii_uppercase',
 'capwords',
 'digits',
 'hexdigits',
 'octdigits',
 'printable',
 'punctuation',
 'whitespace']

$capitalize$

In [31]:
str5 = "my name is mohith"
str5.capitalize()

'My name is mohith'

In [32]:
str5.upper()

'MY NAME IS MOHITH'

In [33]:
str5.lower()

'my name is mohith'

In [34]:
str5.casefold()

'my name is mohith'

In [47]:
len(str5)

17

In [45]:
str5.center(30)
# the total new string widith = 30 
# already given string will have 17

'      my name is mohith       '

In [48]:
str5.center(30,'$')
#instead of the the space it will give the desgmanted

'$$$$$$my name is mohith$$$$$$$'

In [42]:
str6 = "my name is mohith. i love coding"
str6.capitalize()

'My name is mohith. i love coding'

$center$

In [ ]:
#### Unique vowels or items 
- always make an empty string 
- iterate the letter of orginal string throught for loop 
- whenever vowel condition match keep that letter in empty string 
- now onwords 
    - is that a vowel 
    - is that present in the new string