In [2]:
import random
import math 
import string
import time

In [5]:
str1 = "Hi my name is mohith Hi my name is mohith Hi my name is mohith Hi my name is mohith"
str1.count("hi")

4

In [20]:
str1.replace("Hi","Hey",1)

'Hey my name is mohith Hi my name is mohith Hi my name is mohith Hi my name is mohith'

In [37]:
str1.index("Hi",2)

21

In [35]:
str1.find("Hi",2)
# it will give the first occurence

21

In [28]:
i1 = str1.index('m')
i2 = str1.index('m',i1+1)
i3 = str1.index('m',i2+1)
i4 = str1.index('m',i3+1)
i5 = str1.index('m',i4+1)
print (i1,i2,i3,i4,i5)

3 8 14 24 29

$ find $

In [38]:
str1.find("z",2)

-1

- Both the find and index are the same but the major difference is the following 
- -1 means that there is an error in find 
- error will be shown in index

#### Errors encountered when using the string methods
- count will give 0
- index will give error 
- find will give -1
- replace will give the same string

In [50]:
def find_any_string():
    count = 0
    string1 = input("Enter the string: ")
    string2 = string1 * 3
    str3 = input ("Enter the string: ")
    for i in range (len(string2)):
        if string1[i:i+len(str3)] == str3:
            count = count + 1
            count

find_any_string()

Enter the string: Mohith
Enter the string: Mohi

In [65]:
def find_the_name_email():
    Email_id = input("Enter the Email-ID: ")
    i1 = Email_id.find (".")
    i2 = Email_id.find ("@")
    i3 = Email_id.find (".",i1+1)
    first_name = Email_id[0:i1]
    second_name = Email_id[i1+1:i2]
    company_name = Email_id[i2+1:i3]
    print ("The first name of the user is",first_name,"and the second name is",second_name,"and the user works for this company",company_name)
find_the_name_email()

Enter the Email-ID: Mohith.S@IBM.com
The first name of the user is Mohith and the second name is S and the user works for this company IBM

In [64]:
Email_id = "Mohith.s@IBM.com"
i1 = Email_id.find (".")
i2 = Email_id.find ("@")
i3 = Email_id.find (".",i1+1)
first_name = Email_id[0:i1]
second_name = Email_id[i1+1:i2]
company_name = Email_id[i2+1:i3]
print ("The first name of the user is",first_name,"and the second name is",second_name,"and the user works for this company",company_name)
print (i1,i2,i3)

The first name of the user is Mohith and the second name is s and the user works for this company IBM
6 8 12

#### Strip 
- $ l-strip $
- $ r-strip $

In [70]:
name1 = " python "
name2 = "python "
name3 = " python"
r = name1.strip()
u = name2.rstrip()
l = name3.lstrip()
print (r,u,l)

python python python

In [68]:
name1.strip(),name2.rstrip(),name3.lstrip()

('python', 'python', 'python')

In [71]:
name4 = "$python$"
name4.strip('$'),name4.rstrip('$'),name4.lstrip('$')

('python', '$python', 'python$')

In [76]:
name4 = " python$$$"
name4.strip('$'),name4.strip('$'),name4.rstrip('$'),name4.lstrip('$')

(' python', ' python', ' python', ' python$$$')

In [79]:
name4 = " python$$$"
name4.strip('$').strip('$').strip('$').strip()

'python'

$ Split $

In [80]:
str1.split()

['Hi',
 'my',
 'name',
 'is',
 'mohith',
 'Hi',
 'my',
 'name',
 'is',
 'mohith',
 'Hi',
 'my',
 'name',
 'is',
 'mohith',
 'Hi',
 'my',
 'name',
 'is',
 'mohith']

In [81]:
str2 = "hai how are you"
str2.split('o')

['hai h', 'w are y', 'u']

$startswith$-$endswith$

In [83]:
str2 = "hai how are you"
str2.startswith('ha')

True

In [84]:
str2.startswith('he')

False

In [85]:
str2.startswith('hai how are you ')

False

In [86]:
str2.endswith('hai how are you')

True