### Print is only used when there are mulitple answers required 
- we dont need to use print when there is only one response for a var

print of an addition and multiplication of 2 numbers

In [1]:
a = 10
b = 15
add = a + b
mul = a * b
div = a / b
sub = b - a

In [2]:
print (add)
print ("the sum of number",a,"and the sum of number", b, "is",add )
print (mul)
print (div)
print (sub)

25
the sum of number 10 and the sum of number 15 is 25
150
0.6666666666666666
5

In [3]:
name = "Python"
age = 28
city = "bangalore" 
print ("My name is",name,"my age is", age,"and I am from", city)

My name is Python my age is 28 and I am from bangalore

- first decide it the statement to be printed 
- use the format 
   - eg : (print ("My name is",name,"my age is", age,"and I am from", city))

In [2]:
name = input ("enter your name ")
print (name,"is my name")

enter your name mohith
mohith is my name

In [5]:
age = input ("enter your age ")

enter your age 28

In [6]:
city = input ("enter your city ")

enter your city bangalore

In [7]:
print ("My name is",name,"my age is", age,"and I am from", city)

My name is mohith my age is 28 and I am from bangalore

In [8]:
name = input ("enter your name ")
age = input ("enter your age ")
city = input ("enter your city ")
print ("My name is",name,"and my age is", age,"and I am from", city)

enter your name Mohith
enter your age 28
enter your city Bangalore
My name is Mohith my age is 28 and I am from Bangalore

### we can ge the above input from the user to get the print statment

In [12]:
number1 = 500
number2 = 100
number3 = 200
avg = (number1 + number2 + number3)/3
print (avg)
print ("The average of three number is", avg)
print ("The average of", number1,",", number2, "and", number3,"is",avg)

266.6666666666667
The average of three number is 266.6666666666667
The average of 500 , 100 and 200 is 266.6666666666667

### Input

- inputs are always in the form of a string 
- we will need to convert it to int to do the math operations 
- we can use float also but if we need a whole number then we need to convert it back to int or a round off method

In [4]:
number1 = int (input ("enter the number "))
number2 = int (input ("enter the number "))
number3 = int (input ("enter the number ")) #number1 of the input is a string without adding int in the start
avg = (number1 + number2 + number3)/3
print ("The average of three number is", avg)
print ("The average of", number1,",", number2, "and", number3,"is",avg)

enter the number 500
enter the number 100
enter the number 200
The average of three number is 266.6666666666667
The average of 500 , 100 and 200 is 266.6666666666667

In [5]:
num1 = 200
num2 = 300
add = num1 + num2
print (f"the addition of {num1},{num2} is: {add}")

the addition of 200,300 is: 500

In [6]:
num1 = int (input ("enter the number "))
num2 = int (input ("enter the number "))
add = num1 + num2
print (f"the addition of {num1},{num2} is: {add}")

enter the number 200
enter the number 300
the addition of 200,300 is: 500

### End statement

In [5]:
print ("hello" ,end='')
print ("good morning")

hellogood morning

- if there are multiple print statments and we want the same in one single line

In [10]:
print ("hello" ,end=' ')
print ("good morning" ,end=' ')
print ("I am comming to the class on time ")

hello good morning I am comming to the class on time

### Seperate statement

Inside 1 print statement only we can have multiple values and we can seperate the values with anything

In [4]:
print ("Hello" , "good morning" ,sep=" ---> ")

Hello ---> good morning

- print ("hello", "good morning",end='', sep = '')
- print ("I am comming to the class on time ")
- we cannot have both end and seperate statement in one print statement