#### EDA (Exploratory Data Analysis)
1. pandas: Dataframe or data applications
2. numpy: Numerical python for math operations
3. matplotlib: for plots and graph
4. Seaborn: for plots and graph
5. Bokhe: for plots
6. plotly: for plots

#### Machine learning
1. Scikit learn (Sklearn): ML models
2. stats: Statistical models

#### SQL
**Data retrival from SQL scarpping**
1. Sqlite: connect with database
2. Beautiful soup: scrap the data from website
3. websocket: scrap

#### Deep learning/computer vision 
1. Tensorflow: Google
2. Keras: DL models 
3. opnecv: Image operations
4. Pillow (PIL): Image operations
5. Pytorch: Facebook
6. Pretrained models:
    - Eg: 
    1. VGG16
    2. Mobilenet
    3. RESNET
    4. MARKRCNN
    5. FASTERCNN
    6. YOLO

#### Natural language process
1. NLTK: Natural language process
2. Scipy
3. Word2vec (How to words will convert into vector)
4. GloVE (How to words will convert into vector)
5. Wordcloud

#### Hugging face
1. Transformers: BERT

#### GenAI Models
1. OpenAI + Microsoft: GPT model, Dalle-E
2. Google: gemini models
3. Amazon: Q
4. Meta: Meta AI, Llama
5. Apple: AI (Apple Intelligence)

#### LangChain
- LangChain Framework 
#### Deployment/applications 
1. Flask
2. Streamlit
3. Django
#### MLops
1. Mlflow
2. kuberflow
3. azure ai services: azure package
4. GCP: GCP package

### Step-1
#### Create a Dataframe
- we will create a dataframe using list
- we will create a dataframe using dictionary

In [20]:
import pandas as pd

In [24]:
d1 = pd.DataFrame()

In [26]:
type(d1)

pandas.core.frame.DataFrame

### Step-2
#### Provide the Data

In [31]:
Names = ['Tarun','Surendar','Mohith']
pd.DataFrame(Names)

          0
0     Tarun
1  Surendar
2    Mohith

In [37]:
Names = ['Tarun','Surendar','Mohith']
age = [20,21,22]
city = ['Amarvathi','Hydrabad','Bangaluru']
pd.DataFrame(zip(Names,age,city))

          0   1          2
0     Tarun  20  Amarvathi
1  Surendar  21   Hydrabad
2    Mohith  22  Bangaluru

### Step-3
#### Provide the column names

In [42]:
pd.DataFrame(zip(Names,age,city),columns=['Names','Age','City of orgin'])

      Names  Age City of orgin
0     Tarun   20     Amarvathi
1  Surendar   21      Hydrabad
2    Mohith   22     Bangaluru

### Step-4
#### Provide the index

In [51]:
pd.DataFrame(zip(Names,age,city),index=['A','B','C'],columns=['Names','Age','City of Orgin'])
# 3 rows so name it manually 
# 3 columns so manually

      Names  Age City of Orgin
A     Tarun   20     Amarvathi
B  Surendar   21      Hydrabad
C    Mohith   22     Bangaluru

In [53]:
pd.DataFrame(zip(Names,age),index=[city],columns=['Names','Age'])

              Names  Age
Amarvathi     Tarun   20
Hydrabad   Surendar   21
Bangaluru    Mohith   22