In [7]:
import pandas as pd

### Step - 5
- add a new column on existing data frame

In [26]:
names = ['Tarun','Mohith','Surendar','Happy']
city = ["Delhi",'Mandya','Mysore','Amritsar']
age = [20,24,21,29]
df = pd.DataFrame(zip(names,age,city),columns=['Names','Age','City of orgin'],index = ["A",'B','C','D'] )

- If we want to add a new column
- first check how many rows are there
- for example in above dataframe we have 3 rows
- your new column also should have 3 rows
- suppose I want to create a new column: **Salary**
- make a list with 4 values
- salary = [100000,200000,300000]
- **Salary**:dataframe [column] = list of values
    - df ['salary'] = 'salary'

In [28]:
df['Salary'] = [100000,200000,300000,40000]

In [30]:
print (df)

      Names  Age City of orgin  Salary
A     Tarun   20         Delhi  100000
B    Mohith   24        Mandya  200000
C  Surendar   21        Mysore  300000
D     Happy   29      Amritsar   40000

**Use case - 1**
1. create empty data frame
2. create 3 list using list comprehension
3. list1 = values from 1 to 10
4. list2 = square of 1 to 10
5. list3 = cube of 1 to 10
6. create a new data frame with this details

In [43]:
list_1 = [i for i in range (1,11)]
list_2 = [i*i for i in range (1,11)]
list_3 = [i*i*i for i in range (1,11)]
print (list_1,'\n', list_2,'\n', list_3)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
 [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
 [1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [51]:
numbers_df = pd.DataFrame(zip(list_1,list_2,list_3),columns=["Numbers","Square of numbers","Cube of numbers"])

In [55]:
print (numbers_df)

   Numbers  Square of numbers  Cube of numbers
0        1                  1                1
1        2                  4                8
2        3                  9               27
3        4                 16               64
4        5                 25              125
5        6                 36              216
6        7                 49              343
7        8                 64              512
8        9                 81              729
9       10                100             1000

In [ ]:
- Created the above using in the pd itself

In [2]:
finding_sq_cub = pd.DataFrame()

NameError: name 'pd' is not defined

In [59]:
finding_sq_cub["Numbers"] = list_1
finding_sq_cub["Square of numbers"] = list_2
finding_sq_cub["Cube of numbers"] = list_3
finding_sq_cub

   Numbers  Square of numbers  Cube of numbers
0        1                  1                1
1        2                  4                8
2        3                  9               27
3        4                 16               64
4        5                 25              125
5        6                 36              216
6        7                 49              343
7        8                 64              512
8        9                 81              729
9       10                100             1000

### Step - 6
#### Update the already existing columns
- create a new column
    - create a new list
    - Creating a new column the name can be anything 
    - df['']
- update the existing columns the same way only
    - Here we also need to make a list of values = number of rows
    - while updating the existing column
    - df ['We need to provide the existing column name only here ']

In [62]:
list_4 = [i**4 for i in range (1,11)]
finding_sq_cub["Numbers"] = list_4
finding_sq_cub

   Numbers  Square of numbers  Cube of numbers
0        1                  1                1
1       16                  4                8
2       81                  9               27
3      256                 16               64
4      625                 25              125
5     1296                 36              216
6     2401                 49              343
7     4096                 64              512
8     6561                 81              729
9    10000                100             1000

### Step - 7
#### How to drop a column
- if we want to drop a specific column
- we will use drop method
- we need to use the dot
- we already know the difference between keywords or methods
- Keywords we can use directly
- methods will use with corresponding data frame
- **Method name is: drop**

In [67]:
finding_sq_cub.columns

Index(['Numbers', 'Square of numbers', 'Cube of numbers'], dtype='object')

- we need to provide the name of the column that you want to drop
- inplace will provide the overwrite data frame or not
    - inplace = True, this indicates an overwrite of the data frame
    - inplace = False, this indicates the modified data frame will be used when you provide the new variable for operation 
- axis: it will specify values in a row or column
    - axis = 0 => means rows
    - by default axis = 0 
    - axis = 1 => means columns

In [78]:
finding_sq_cub.drop('Numbers')

KeyError: "['Numbers'] not found in axis"

- the above code is giving an error because axis as the value of the 0 by default

In [83]:
finding_sq_cub_new = finding_sq_cub.drop('Numbers',axis = 1)
finding_sq_cub_new

   Square of numbers  Cube of numbers
0                  1                1
1                  4                8
2                  9               27
3                 16               64
4                 25              125
5                 36              216
6                 49              343
7                 64              512
8                 81              729
9                100             1000